.frame{
    background-color: lightgreen;
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.left,.right{
    border: 1px solid green;
    width: 50%;
    height: 100%;
    padding: 1%;
}

.right img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}