.frame{
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}

.left,.right{
    width: 50%;
    height: 100%;
    padding: 1%;
}

.right img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 850px) {
    .right{
        display: none;
    }
    .left{
        width: 100%;
    }
    .frame{
        width:65%;
    }
  }